<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
</head>
<body>
    {% if user %}
        <label class="whois">User: {{ user.username }}</label>
    {% endif %}

    <br> <button><a href="{% url 'catalog:user_home_page' user.id %}">To home</a></button> <br>

    {% if message %}
        <div class="message">
            <h2>{{ message }}</h2>
        </div>
    {% endif %}

    {% if note %}
        <div class="note_info">
            <p>Add text for note: {{ note.note_title }}</p>
        </div>
    {% endif %}

    {% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {{ form.as_p }}
            <input type="hidden" name="_method" value="put">
            <button type="submit">Confirm edit</button>
        </fieldset>
    </form>
    {% endblock %}

</body>
</html>
