<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog Home</title>
</head>
<body>
    User: {{ user.username }}

    <div class="logout_button">
        <form action="{% url 'catalog:logout' %}" method="get">
            <button>Logout</button>
        </form>
    </div>

    {% if message %}
    <div class="message">
        <h3>{{ message }}</h3>
    </div>
    {% endif %}

    <div class="upload_content">
        <a href="{% url 'catalog:add_user_content' user.id %}">Add new note</a>
    </div>

    <div class="user_content">
        <h4 class="user_content_title">My catalog:</h4>

        {% if user.usernote_set.all %}
        <ul>
            {% for note in user.usernote_set.all %}
                <li><a href="{% url 'catalog:user_note_detail' user.pk note.pk %}">{{ note.note_title }}</a>
                    <p> {{ note.note_description }} </p> 

                    <form action="{% url 'catalog:delete_user_note' user.id note.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="delete">
                        <input type="submit" value="Delete">
                    </form>

                </li> <br>
            {% endfor %}
        </ul>

        {% else %}
        <label>Your catalog is empty</label> <br>
        <label>Let's fill it </label> <a href="{% url 'catalog:add_user_content' user.id %}">by your thoughts!</a>
        {% endif %}

    </div>
</body>
</html>
